.navbar {
  background-color: var(--bg-color);
  padding: 20px 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  overflow-x: hidden;

  &__btnBlock {
    display: flex;
    min-width: 0;
    gap: 10px;
  }

  &__hr {
    border: none;
    border-top: 1px solid #ced2da;
    width: 100%;
    margin: 0;
    align-self: center;
    opacity: 0.5;
  }
}
