.navbar {
  background-color: var(--bg-color);
  padding: 20px 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  overflow-x: hidden;

  &__btnBlock {
    display: flex;
    padding: 5px;
    min-width: 0;
    gap: 10px;
  }

  &__hr {
    border: none;
    border-top: 1px solid #ced2da;
    width: 100%;
    margin: 0;
    align-self: center;
    opacity: 0.5;
  }

  @media(max-width: 767px) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 0;
    justify-content: center;

    &__btnBlock {
      justify-content: space-around;
      align-items: center;
      gap: 0;
      width: 100%;
    }
  }
}
