@use "@/styles/mixins" as *;

body {
  background-color: var(--bg-color);
}

.checkoutBlock {
  @include checkoutBlock;

  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
  }
}