@use "@/styles/mixins" as *;

.checkoutBlock {
  @include checkoutBlock;

  &__form {
    @include checkoutBlock__form;
  }

  &__buttons {
    @include checkoutBlock__buttons;
  }

  &__radioLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    margin-bottom: 12px;
    cursor: pointer;
  }
}