.deliveryBlockActions {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;

  @media(width <= 1350px) {
    flex-direction: column;
    gap: 50px;
    justify-content: center;
  }

  @media(width <= 580px) {
    width: 100%;
  }

  &__trackingBlock {
    width: 467px;
    padding: 15px;
    background-color: var(--bg-color);
    border-radius: 15px;

    @media(width <= 767px) {
      width: 100%;
    }
  }

  &__formTitle {
    margin: 0 0 15px;
    font-size: 1.5rem;
  }

  &__trackingInput {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    input {
      padding: 12px 16px;
      outline: none;
      border: 2px solid var(--scrollbar-thumb);
      border-radius: 5px;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;

      &:focus {
        border-color: var(--font-color-brand);
        box-shadow: 0 0 0 4px rgb(0 123 255 / 10%);
      }
    }

    @media(width <= 767px) {
      flex-direction: column;
    }
  }

  &__promotionBlock {
    width: 400px;
    min-width: 400px;
    height: 151px;
    background-image: url(@/assets/promotion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;

    @media(width <= 767px) {
      width: 100%;
      min-width: 100%;
      height: auto;
      aspect-ratio: 2.5 / 1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}