@use "@/styles/mixins" as *;

.checkoutBlock {
  @include checkoutBlock;

  &__form {
    width: max-content;
    border: 1px solid var(--border-light);
    border-radius: 15px;
    padding: 10px;
    @include checkoutBlock__form;
  }

  &__buttons {
    @include checkoutBlock__buttons;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    span:first-of-type {
      font-weight: 300;
    }
  }
}