.progressBar {
  margin-bottom: 5px;
  font-size: 1rem;
  user-select: none;

  &__line {
    width: 50%;
    height: 8px;
    overflow: hidden;
    background-color: var(--bg-color-secondary);
    border-radius: 5px;

    @media(width <= 767px) {
      width: 100%;
    }
  }

  &__progressFill {
    height: 100%;
    background-color: var(--progress-fill);
  }
}

