.actionBtn {
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  font-size: 16px;
  cursor: pointer;
}

.blueActionBtn {
  @extend .actionBtn;
  border: none;
  background-color: var(--font-color-brand);

  &:hover {
    background-color: var(--action-button-hover);
  }
}

.whiteActionBtn {
  @extend .actionBtn;
  border: 1px solid var(--border-light);
  background-color: var(--bg-color);
  transition: none;

  &:hover {
    background-color: var(--border-light);
    transition: background-color 0.2s ease;
  }
}

.formInput {
  padding: 10px;
  border: 1px solid var(--border-light);
  border-radius: 6px;
}