@mixin checkoutBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 20%;
}

@mixin checkoutBlock__header {
  font-size: 1.5rem;
  margin: 0 0 15px 0;
  font-weight: bold;
  user-select: none;
}

@mixin checkoutBlock__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 400px;
  gap: 15px;
  margin: 30px 0;
}

@mixin checkoutBlock__buttons {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  min-width: 400px;
}
