@use "@/styles/mixins" as *;

.checkoutBlock {
  @include checkoutBlock;

  &__form {
    width: max-content;

    @include checkoutBlock__form;
  }

  &__buttons {
    @include checkoutBlock__buttons;
  }

  &__section {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: var(--bg-color-secondary);
    border-radius: 15px;

    @media(width <= 767px) {
      flex-direction: column;
      gap: 20px;
      align-items: unset;
    }
  }

  &__sectionName {
    width: 150px;
  }

  &__sectionInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(width <= 767px) {
      align-items: unset;
    }

    p:first-of-type {
      font-weight: 300;
    }
  }

  &__additionalInfo {
    margin: 0 0 30px;

    p {
      margin: 10px 0 0;
    }
  }
}