.deliveryInfo {
  display: flex;
  gap: 70px;
  justify-content: space-between;

  &__leftSide {
    min-width: 330px;
  }

  &__boxImage {
    display: flex;
    align-items: center;

    & img {
      width: 170px;
      max-width: none;
      max-height: none;
    }

    @media(width <= 730px) {
      display: none;
    }
  }

  &__title {
    margin: 0 0 40px;
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__text {
    margin: 0 0 40px;
    font-weight: 100;
  }

  &__QRCodePlace {
    display: flex;
    padding: 15px;
    background-color: var(--bg-color);
    border-radius: 15px;

    & img {
      width: 40px;
      margin: 0 20px 0 0;
    }
  }

  @media(width <= 767px) {
    flex-direction: column;
    gap: 0;
  }
}