body {
  background-color: var(--bg-color-secondary);
}

.mainBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20%;
  background: var(--bg-color-secondary);

  @media(width <= 767px) {
    padding: 50px 10px 113px;
  }
}