.deliveryForm {
  max-width: 912px;
  padding: 15px;
  margin: 50px 0;
  background-color: var(--bg-color);
  border-radius: 15px;

  &__formTitle {
    margin: 0 0 15px;
    font-size: 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__selects {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }

  &__formBtn {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  &__selectValue {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  & label {
    display: flex;
    flex-direction: column;
    font-weight: 500;

    span {
      margin: 0 0 5px;
    }
  }

  :global(.customSelect__control) {
    width: 280px;
    color: var(--font-color);
    background: var(--bg-color);
  }

  :global(.customSelect__control *) {
    color: var(--font-color);
  }

  :global(.customSelect__menu) {
    color: var(--font-color);
    background: var(--bg-color);
  }

  @media(width <= 1000px) {
    &__formTitle {
      text-align: center;
    }

    &__selects {
      flex-direction: column;
    }

    &__formBtn {
      justify-content: center;
    }
  }
}
