.deliveryForm {
  background-color: var(--bg-color);
  margin: 50px 0;
  border-radius: 15px;
  padding: 15px;
  max-width: 912px;

  &__formTitle {
    font-size: 1.5rem;
    margin: 0 0 15px 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__selects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__formBtn {
    display: flex;
    align-items: center;
    justify-content: end;
  }

  &__selectValue {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & label {
    display: flex;
    flex-direction: column;
    font-weight: 500;

    span {
      margin: 0 0 5px 0;
    }
  }

  :global(.customSelect__control) {
    width: 280px;
    background: var(--bg-color);
    color: var(--font-color);
  }

  :global(.customSelect__control *) {
    color: var(--font-color);
  }

  :global(.customSelect__menu) {
    background: var(--bg-color);
    color: var(--font-color);
  }

  @media(max-width: 1000px) {
    &__formTitle {
      text-align: center;
    }

    &__selects {
      flex-direction: column;
    }

    &__formBtn {
      justify-content: center;
    }
  }
}
